input[type=number] {
    width: 40px;
    height: 25px;
}

td.column {
    width: 160px;
    height: 30px;
}

table.canvasTable {
	border-collapse: separate;
	border: red 0px solid; 
}

table.canvasTable td {
    border: 0px blue solid;
    margin: 5px;
    padding: 5px;
    width: 350px;
    height: 160px;
}

table.canvasTable tr {
    border: 5px green solid;
    margin: 5px;
    padding: 5px;
    width: 150px;
    height: 150px;
}

p {
    font: 16px Verdana;
}
